body {
    background-color: grey
    justify-content: center
    align-items: center;
    text-align: center;
    font-family:'Arial'
}

div{
    border: 1px solid black;
    padding: 20px 20px;
    text-align: center;
    background-color: white;
    margin-left: 250px;
    margin-right: 250px;
}

p{
    margin-left: 200px;
    margin-right: 200px;
}